body{
  background-image: url('images/Element-Designs-and-California-Closets-Transforming-Spaces-Together-min-1176x907@2x.jpg');
  background-repeat: no-repeat;
  background-size: 175vh 125vh;
  background-size: cover;
  background-position: right top;
  background-color: #d9dadb;
  /* overflow: scroll; */

  /* opacity: 0.5; */
}

.ui.image{
  height: auto;
  width: 100vh;
  opacity: 5;
  border-radius: 25px;
}

.ui.container.background{
  background-color: #d9dadb;
  opacity: 0.5;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.menu{
  background-color: #d9dadb !important;
}

.ui.sidebar {
   width: 125px!important;
   height: 100vh !important;
   position: fixed !important;
}

.scrolling-wrapper {
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
  animation: scroll 10s linear 1s infinite;
  border: 4px solid teal;
  padding: 4px;
}

.indiv {
  display: inline-block !important;
}

.image-card{
  display: inline-block !important;
  /* width: 420px !important; */
  height: 425px !important;

  overflow: none !important;
  margin: 2px;

}
